@import "header";
@import "footer";
@import "banner";
@import "reset";

@import "tienda/tienda";
@import "nosotros/nosotros";
@import "consultas/consultas";
@import "contacto/contacto";
@import "carrito/carrito";


@font-face {
    font-family: KeaniaOne;
    src: url(../fonts/KeaniaOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: ShareTechMono;
    src: url(../fonts/ShareTechMono-Regular.ttf);
}