@media (max-width:1440px) {
    #footer {
        #footerContenido {
            #footer-1 {
                #footerLogo {
                    transform: translate(-35px);
                }
                #acceso_rapido {
                    margin: 0;
                    #acceso_rapidoTitle {
                        font-size: 23px;
                    }
                    #acceso_rapidoLista {
                        font-size: 18px;
                    }
                }
                #descripcion_footer {
                    margin: 0;
                    #descripcion_footerTitle {
                        font-size: 23px;
                    }
                    #descripcion_footerText {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    #footer {
        #footerContenido {
            #footer-1 {
                #footerLogo {
                    transform: translate(-60px);
                    & img {
                        height: 350px;
                    }
                }
                #acceso_rapido {
                    padding-left: 0px;
                    #acceso_rapidoTitle {
                        font-size: 20px;
                    }
                    #acceso_rapidoLista {
                        font-size: 15px;
                    }
                }
                #descripcion_footer {
                    #descripcion_footerTitle {
                        font-size: 20px;
                    }
                    #descripcion_footerText {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    #footer {
        #footerContenido {
            #footer-1 {
                height: auto;
                #footerLogo {
                    transform: translate(-83px);
                    & img {
                        height: 300px;
                    }
                }
                #acceso_rapido {
                    display: none;
                }
                #v-line {
                    display: none;
                }
                #descripcion_footer {
                    width: 80%;
                    #descripcion_footerTitle {
                        width: 100%;
                    }
                    #descripcion_footerText {
                        width: 100%;
                    }
                }
            }
            #footer-2 {
                height: 100px;
                #derechos {
                    & h4 {
                        font-size: 12px;
                        #hopday_derechos {
                            font-size: 16px;    
                        }
                    }
                }
                #designedby {
                    & h4 {
                        font-size: 12px;
                    }
                    & img {
                        height: 30px;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width:425px){
    #footer {
        #footerContenido {
            width: 90%;
            #footer-1 {
                #footerLogo {
                    transform: translate(-70px);
                }
                #descripcion_footer {
                    #descripcion_footerTitle {
                        font-size: 18px;
                    }
                    #descripcion_footerText {
                        font-size: 15px;
                    }
                }
            }
            #footer-2 {
                height: 75px;
                #derechos {
                    & h4 {
                        font-size: 8px;
                        #hopday_derechos {
                            font-size: 12px;   
                        }
                    }
                }
                #designedby {
                    & h4 {
                        font-size: 8px;
                    }
                    & img {
                        height: 25px;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width:375px){
    #footer {
        #footerContenido {
            #footer-1 {
                #footerLogo {
                    & img {
                        height: 250px;
                    }
                }
                #descripcion_footer {
                    #descripcion_footerTitle {
                        font-size: 15px;
                    }
                    #descripcion_footerText {
                        font-size: 12px;
                    }
                }
            }
            #footer-2 {
                #derechos {
                    & h4 {
                        font-size: 7px;
                        font-weight: 100;
                        #hopday_derechos {
                            font-size: 11px;  
                        }
                    }
                }
                #designedby {
                    & h4 {
                        font-size: 7px;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}