#carrito {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../images/Bgdegradado.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    #carritoBackground {
        position: relative;
        background-color: #EAEAEA;
        border-radius: 50px;
        padding: 225px 50px 50px;
        z-index: 10;
        margin-top: 50px;
        width: 70%;
        #carritoTextBox {
            display: flex;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translatex(-50%);
            #carritoTitle {
                font-size: 100px;
                font-family: 'Keania One';
                font-weight: 100;
                margin: 0px;
            }
        }
        #carritoBox {
            width: 100%;
            #carritoBox1 {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 50px;
                #descuentoBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    #descuentoText {
                        font-size: 20px;
                        font-family: 'Keania One';
                        transform: translateX(-9%);
                    }
                    #descuentoForm {
                        margin-left: 50px;
                        #descuentoInput {
                            background-color: #D9D9D9;
                            border-radius: 10px; 
                            height: 60px;
                            width: 270px;
                            border: 0;
                            box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.3);
                            &::placeholder {
                                position: absolute;
                                top: 50%;
                                left: 33%;
                                transform: translate(-50%, -50%);
                                font-size: 20px;
                            }
                        }
                        #descuentoAplicar {
                            font-family: 'Keania One';
                            border: solid #484848 1px;
                            border-radius: 5px;
                            height: 40px;
                            width: 70px;
                            margin-left: 8px;
                        }
                    }
                }
                #carritoPrecio {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    #carritoPrecioDato {
                        padding: 0;
                        margin: 0;
                        font-size: 20px;
                    }
                    #carritoPrecioMonto {
                        padding-left: 30px;
                        font-size: 20px;
                        margin: 0;
                        #carritoPrecioMontoDescuento {
                            color: rgb(158, 12, 12);
                        }
                    }
                }
            }
            #carritoBox2 {
                #productosCarrito {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 15px;
                    height: 500px;
                    .productoCarrito {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff;
                        height: 500px;
                        border-radius: 30px;
                        box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.5);
                        &:hover {
                            transform: scale(1.07);
                            transition: .3s;
                        }
                        transition: .3s;
                    }
                }
            }
            #carritoBox3 {
                display: flex;
                margin-top: 50px;
                width: 100%;
                #shopline {
                    display: flex;
                    height: 100px;
                    width: 100%;
                    justify-content: space-between;
                    .shoplineEtapas {
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        #shoplineEtapasCarrito {
                            color: #9e4ab3;
                        }
                        #shoplineEtapasDatos {
                            color: #484848;
                        }
                        #shoplineEtapasPago {
                            color: #484848;
                        }
                        #shoplineEtapasText4 {
                            color: transparent;
                        }
                        #shoplineHrCarrito {
                            width: 90%;
                            height: 1px;
                            margin: 0;
                            background-color: #9e4ab3;
                        }
                        #shoplineHrDatos {
                            @extend #shoplineHrCarrito ;
                            background-color: #484848;
                        }
                        #shoplineHrPago {
                            @extend #shoplineHrCarrito ;
                            background-color: #484848;
                        }
                        #shoplineHr4 {
                            width: 100%;
                            background-color: transparent;
                        }
                    }
                    .shoplineCircleBox {
                        display: flex;
                        align-items: center;
                        .shoplineCircle {
                            height: 30px;
                            width: 30px;
                            background-color: #D9D9D9;
                            border-radius: 100px;
                            border: 1px solid #484848;
                            transform: translateY(50%);
                        }
                        #shoplineCircle3 {
                            height: 30px;
                            width: 30px;
                            border-radius: 100px;
                            transform: translateY(50%);
                            background-color: transparent;
                        }
                    }
                }
                #botonSiguiente {
                    #siguiente {
                        position: absolute;
                        width: 20%;
                        height: 100px;
                        border-radius: 10px;
                        background-color: #FFF736;
                        font-family: 'Keania One';
                        font-size: 40px;
                        font-weight: 1;
                        color: #000;
                        border: 0;
                        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
                        transition: .3s;
                        right: 50px;
                        bottom: 50px;
                    }
                }                
            }
        }
    }
}