@media (max-width:1024px) {
    #preguntas {
        #preguntasContenido {
            width: 90%;
            margin-top: -60px;
        }
    }
}

@media (max-width:768px) {
    #preguntas {
        #preguntasContenido {
            margin-top: -45px;
            .pregunta {
                .preguntaTitle {
                    font-size: 25px;
                }
                .preguntaContent {
                    font-size: 15PX;
                }
            }
        }
    }
}

@media (max-width:425px) {
    #preguntas {
        #preguntasContenido {
            padding: 15px;
            gap: 7.5px;
            margin-top: -30px;
            border-radius: 40px;
            .pregunta {
                width: 100%;
                min-width: 0;
                padding: 15px;
                .preguntaTitle {
                    font-size: 20px;
                }
                .preguntaContent {
                    font-size: 10PX;
                }
            }
        }
    }
}