.tienda {
    display: flex;
    width: 100%;
    justify-content: center;
}
.tiendaContenido {
    display: flex;
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    background-color: #EAEAEA;
    border-radius: 50px;
    padding: 30px;
    margin-top: -100px;
    margin-bottom: -100px;
    z-index: 10;
    max-width: 1596px;
}
#searchbarContenedor {
    display: flex;
    justify-content: center;
}
#searchbar {
    display: flex;
    justify-content: center;
    position: relative;
}
#searchbar input {
    width: 500px;
    height: 40px;
    border-radius: 100px;
    border: 0;
    font-size: 20px;
    padding-left: 40px;
    outline-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
#searchbar input::placeholder {
    font-size: 20px;
}
#searchbar i{
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translatey(-50%);
    left: 10px;
}
#filtrosBoxContenedor{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
#filtrosBox {
    display: flex;
    width: 95%;
    justify-content: space-between;
}
#textTineda_box {
    display: flex;
    align-items: center;
}
#textTienda {
    font-family: 'Kenia';
    font-weight: 100;
    font-size: 30px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
}
#filtros {
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.filtro {
    display: flex;
    align-items: center;

}
.filtro select {
    background-color: #875B92;
    border-radius: 7px;
    height: 50px;
    width: 150px;
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
#botonesFiltros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.botonFiltro {
    display: flex;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: #FFF736;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    border: 0;
    justify-content: center;
    align-items: center;
}
#productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}
.producto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
#paginasTienda {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
}
#paginasTexto {
    padding: 5px;
    color: #484848;
}
#paginasTexto p {
    font-size: 25px;
    margin: 0;
}
.paginasFlecha {
    padding: 5px;   
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    color: #484848;
    transition: .2s;
}
#paginasNumeros {
    display: flex;
}
.paginasNumero {
    padding: 5px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    color: #484848;
    transition: .2s;
}
.paginasNumero:hover {
    color: #A621C7;
    text-decoration: underline;
    transition: .2s;
}
.paginasFlecha:hover {
    color: #A621C7;
    transition: .2s;
}